<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Profile</title>
    <link rel="stylesheet" href="./static/style.css" />
    <link rel="stylesheet" href="./static/lib/skeleton/normalize.css" />
    <link rel="stylesheet" href="./static/lib/skeleton/skeleton.css" />
    <link rel="stylesheet" href="./static/design.css" />
</head>
<body>
    <div class = "container">
        <ul class = "navigation">
            <li class="navigation-item">
                <a href="/">Start Page</a>
            </li>
            <li class="navigation-item">
                <a href="/test">Test Page</a>
            </li>
            <li class="navigation-item">
                <a href="/profile">Profile</a>
            </li>
        </ul>
    </div>
    <div class = "container">
        <div class = "move">
        <a href="https://ibb.co/rxPsfM5"><img src="https://i.ibb.co/tqfXPcY/20190813-175017.jpg" alt="20190813-175017" height="220px" width="120px"></a>
        </div>
    </div>
    <div class = "container">
        <h1>Who am I?</h1>
        <p class = "good">
            My name is Ifunanyachi Favour Kanu
        </p>
        <h2>About myself</h2>
        <p class = "important">
            I was born in Arondizuogu in Ideato Local Government
            Area of <br/>Imo State in Nigeria at the 9th of December 2009.<br/>
            My favourite colour is purple and I also do sports like: Basketball, Football, Hokey, Swimming and Tennis.<br/>
            I play the guitar and piano.
        </p>
        <h3>My Address</h3>
        <p class = good>
            10 Harlaw March<br/>
            Balerno<br/>
            Edinburgh<br/>
            United Kingdom<br/>
            EH14 7BJ
        </p>
        <h4>What I like</h4>
        <p class = good>
            I like Roblox and my username is: gamefsn.<br/> I like singing and I'm in choir.<br/> I like trying things new sometimes.<br/> I like maths because I am really good at it.
        </p>
    </div>
</body>
</html>